TBTC_CONTRACT=0x083f652051b9cdbf65735f98d83cc329725aa957

ETHEREUM_NETWORK=network
ETHEREUM_URL=wss://network.infura.io/ws/v3/apikey

TWITTER_CONSUMER_KEY=""
TWITTER_CONSUMER_SECRET=""
TWITTER_ACCESS_KEY=""
TWITTER_ACCESS_SECRET=""

INFLUXDB_URL=""
INFLUXDB_TOKEN=""
INFLUXDB_ORG=""
INFLUXDB_BUCKET=tbtc
